<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506606993542-du8dgj0orct91t4fcbbfcb45ehigjqp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506606993542-du8dgj0orct91t4fcbbfcb45ehigjqp8</string>
	<key>API_KEY</key>
	<string>AIzaSyCXzUoxI11QQ3dIAgrFi2lzYQxgUtddAUg</string>
	<key>GCM_SENDER_ID</key>
	<string>506606993542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cybage.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-9e097</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-9e097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:506606993542:ios:04475da7a29442bf649107</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-9e097-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
